useDynLib(rmq)

export(
       to.msgpack,
       from.msgpack,       
       default.addr,
       test.server,
       block,
       callcount,
       listenAndServe,
       rmq.call,
       r2r.server,
       r2r.call,
       test.r2r.server,
       test.r2r.call
       )
