useDynLib(rmq)

export(
       to.msgpack,
       from.msgpack,  
       rmq.server,
       rmq.call,
       r2r.server,
       r2r.call,
       rmq.default.addr,
       read.msgpack.frame,
       read.ndjson
)
